.messages p {
  position: relative;
  display: inline-block;
  margin: 5px auto;
  padding: 17px 13px;
  border-radius: 12px;
  max-width: 100%;
  line-height: 20px;
  text-align: center;
  color: #FFF;
  font-size: 15px;
  background: #ffcc75;
  
}

