/* オープニングアニメーション */

.top3{
  background-image: url(../img/top.jpg);
  background-size:cover;
  width: 100%;
  height: 100vh;
  animation: fadeIn 7s ease 0.3s 1 normal;
  z-index: 1;
  opacity: 0;
  position: absolute;
}

@keyframes fadeIn { 
  0% {opacity: 0}
  50% {opacity: 1;}
  100% {opacity: 0;
  } 
}

.top2{
  background-image: url(../img/IMG_3040.jpg);
  background-size:cover;
  width: 100%;
  height: 100vh;
  animation: fadeIn 7s ease 7s 1 normal;
  z-index: 1;
  opacity: 0;
  position: absolute;
}

/* @keyframes fadeIn {
  0% {opacity: 0} 
  50% {opacity: 1;}
  100% {opacity: 0;
  } 
} */

.top3{
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo{
  position: absolute;
  margin-left: 42%;
  margin-top: 15%;
  width: auto;
  height: 30%;
  z-index: 3;
}


/* ビデオエリア */

.video_box{
  display: flex;
  justify-content: space-around;  
  width: 100%;
}

.myvideo_box{
  background-color: #dceef8;
  display: flex;
  flex-direction: column;
  width: 42%;
}

.myvideo{
  width: 100%;
}

.yourvideo{
  background-color: #dceef8;
  /* display: flex;
  justify-content: center;
  align-items: baseline; */
  width: 42%;
}

.remote-streams{
  width: 100%;
}

.remote-streams video{
  width: 100%;
vertical-align: bottom;
}

/* チャットエリア */

.messages_box{
width: 16%;
height: 90vh;
background-color: #bee1f5;
display: flex;
align-items: flex-end;
}


.input{
height: 100px;
background-color: cornflowerblue;

}

.chattext{
  height: 60px;
  width: 100%;
  border: solid;
  border-width: 2px;
  border-color: darkblue;
}



.mybtn{
  display: flex;
}

.voiceon{
  background-image: url(../img/micon.png);
  background-size:cover;
  width: 60px;
  height: 50px;
  background-color: #ffffff;
  border: solid;
  border-width: 2px;
  border-color: #ee7315;
  border-radius: 8%;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; 
}

.voiceon:hover{
  opacity: 0.6;
}

.videoon{
  background-image: url(../img/videoon.png);
  background-size:cover;
  width: 60px;
  height: 50px;
  background-color: #ffffff;
  border: solid;
  border-width: 2px;
  border-color: #ee7315;
  border-radius: 8%;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; 
}

.videoon:hover{
  opacity: 0.6;
}

.share{
  background-image: url(../img/share.png);
  background-size:cover;
  width: 60px;
  height: 50px;
  background-color: #ffffff;
  border: solid;
  border-width: 2px;
  border-color: #ee7315;
  border-radius: 8%;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; 
}

.share:hover{
  opacity: 0.6;
}

.otherbtn{
  display: flex;
}

/* フィルター機能 */

.sepia{
  background-size:cover;
  width: 60px;
  height: 50px;
  background-color: #ffffff;
  border: solid;
  border-width: 2px;
  border-color: #ee7315;
  border-radius: 8%;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; 
}
